NODE_ENV=development
PORT=4000
MONGO_URI=mongodb://localhost:27017/?replicaSet=rs0
DB_NAME=bancoAlimento
JWT_SECRET=cambiar-esto
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:5173
SEED_ADMIN_NAME=Coordinator
SEED_ADMIN_EMAIL=admin@banco.org
SEED_ADMIN_PASSWORD=admin1234
